<h1> Bourbon Index </h1>


<ul>
<% @bourbons.each do |bourbon| %>
<li><%= display_distillery(bourbon) %> - <%= link_to bourbon.name, bourbon_path(bourbon) %></li>
<% end %>
</ul>
<br>
<%= link_to "Add New Bourbon", new_bourbon_path %>
