<h1>Editing <%= @distillery.name %></h1>
<%= render partial: "form" %>
</br>
<%= link_to 'Add new Bourbon', new_distillery_bourbon_path(@distillery) %> </br>
</br>
<%= link_to "Delete Distillery", @distillery, method: :delete, data: { confirm: "Really?" } %>
