<h1>Distilleries</h1>
<ul>
<% @distilleries.each do |distillery| %>
<li><%= link_to distillery.name, distillery_path(distillery) %></li>
<% end %>
</ul>
</br>
<%= link_to 'Add New Distillery', new_distillery_path%>
</br>
</br>
<%= link_to "Bourbon Index List", bourbons_path %> </br>
<%= link_to "Stockist Index List", stockists_path %>
